body{
    background-image: url(https://t4.ftcdn.net/jpg/01/70/93/27/360_F_170932733_VOHGeaH5AjrVCXBVryEwVgwhArv2wNNH.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.a{
    border: 2px solid wheat;
    box-shadow: 4px 4px 4px lemonchiffon;
    border-radius: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    padding: 20px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.342);
    margin-top: 100px;
}
#aaa{
    background-color: hsla(240, 100%, 50%, 0.781);
    border-radius: 10px;
    width: 100px;
}
#cc{
    border-radius: 10px;
    font-family: sans-serif;
    width: 200px;
    height: 30px;
}
#d{
    border-radius: 10px;
    font-family: sans-serif;
    width: 200px;
    height: 30px;
}
.c{
    text-align: center;
    margin-top: 20px;
    font-family: sans-serif;
    color: aliceblue;
}
.b img{
    width: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    border: 2px solid gray;
    border-radius: 5px;
}
#bb{
    font-family: sans-serif;
    color: aliceblue;
}    
.dd{
    padding: 5px;
    align-content: center;
    text-align: center;
    margin-top: 60px;
    width: 200px;
    height: 25px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#e{
    font-family: sans-serif;
    color: wheat;
}